* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    background-color: var(--primary);
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary);
}

.brand-logo {
    width: 300px;
    mix-blend-mode: multiply;
}


#update-container {
    height: fit-content;
    transition: opacity 0.5s ease;
    opacity: 1;
}



a {
    text-decoration: none;
    color: var(--text-light);
}

a:hover {
    color: var(--secondary);
}

.footer {
    background-color: var(--primary);
    color: var(--text-light);
    font-family: 'Poppins', sans-serif !important;
}

.dark-text {
    color: var(--text-dark);
}

.light-text {
    color: var(--text-light);
}

.footer .dark-text {
    font-size: larger;
}