.header,
.footer,
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > #h-center {
    flex: 3 1 300px;
    display: flex;
    justify-content: center;
}

#h-right, #h-left {
    height: 100px;
    width: 100px;
}

#update-container {
    height: 60vh;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    flex-direction: column;
}

#footer-info {
    display: flex;
    padding: 15px 20px;
    gap: 10px;
}

#brand-and-contact-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-heading {
    padding: 0 5px;
    font-size: larger;
}

#brand-details {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
}

#brand-details > #brand-info {
    max-width: 60vw;
}

.contact-item, .link-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    padding: 5px;
}