#category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 50%;
}

.category-grid {
    width: 200px;
    height: 100px;
    background-color: var(--primary);
    color: var(--text-light);
    border: 2px solid var(--secondary);
    text-align: center;
    vertical-align: middle;
}